PORT = 5000
MONGO_URI = "mongodb+srv://pagy:basketballa@cluster0.wnhjbv9.mongodb.net/campo-yangu"
GOOGLE_CLIENT_ID = "779829667489-62tu88svd69ova9gn2qca0gfn95s56o2.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"