

MONGO_URI = "mongodb+srv://pagy:basketballa@cluster0.wnhjbv9.mongodb.net/campo-yangu"
GOOGLE_CLIENT_ID = "779829667489-18fiqvprvm43q7ksephuj7hufsukjqct.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"